@model IEnumerable<WebAppTest.Models.Persoana>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Dropdown for Users -->
<div>
    @Html.DropDownList("IdPersoana",
            new SelectList(Model, "IdPersoana", "Nume"), // Adjust "FullName" based on your user model
            "Select a User",
            new { @class = "form-control", @onchange = "redirectToUserArticles(this)" })
</div>

<script>
    function redirectToUserArticles(dropdown) {
        var selectedValue = dropdown.value; // Get the selected user ID
        if (selectedValue) {
            window.location.href = '/Articole/List/' + selectedValue; // Redirect to Articole with the user ID
        }
    }
</script>